/*
	Base bxSlider styles - altered slightly to remove unwanted styles
 */
.bx-wrapper {
	position: relative;
	margin: 0 auto 40px;
	padding: 0;
	background: #fff;
	*zoom: 1;
	touch-action: pan-y;

	img {
		max-width: 100%;
		display: block;
	}
}

.bxslider {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
}

.bx-pager,
.bx-controls-auto {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
}

.bx-loading {
	min-height: 50px;
	background: red;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

.bx-pager-item,
.bx-pager-link,
.bx-controls-auto .bx-controls-auto-item,
.bx-start,
.bx-stop {
	display: inline-block;
	vertical-align: top;
	*zoom: 1;
	*display: inline;
}

.bx-pager {
	text-align: center;

	&-item {
	}

	&-link {
		height: 25px;
		width: 25px;
		padding: 6px;
		background: transparent;
		border: 0 solid transparent;
		position: relative;
		white-space: nowrap;
		text-indent: 200%;
		overflow: hidden;

		&:before {
			content: ' ';
			height: 12px;
			width: 12px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -6px 0 0 -6px;
			background: c(white);
			box-shadow: 0 0 0 2px rgba(c(grey, 200), 0);
			@include trans;
		}

		&:hover,
		&:focus {
			&:before {
				background: c(main1);
			}
		}
		&.active {
			&:before {
				background: c(main1, dark);
				box-shadow: 0 0 0 2px rgba(c(grey, 200), 1);
			}
		}
	}
}

.bx-prev {
	left: 10px;
	background: url('images/controls.png') no-repeat 0 -32px;
	&:hover,
	&:focus {
		background-position: 0 0;
	}
}

.bx-next {
	right: 10px;
	background: url('images/controls.png') no-repeat -43px -32px;
	&:hover,
	&:focus {
		background-position: -43px 0;
	}
}

.bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	.disabled {
		display: none;
	}
}

.bx-controls-auto {
	text-align: center;
}

.bx-start,
.bx-stop {
	height: 25px;
	width: 25px;
	padding: 6px;
	background: transparent;
	border: 0 solid transparent;
	position: relative;
	white-space: nowrap;
	text-indent: 200%;
	color: c(white);
	overflow: hidden;

	&:before {
		@include fa-icon;
		content: $fa-var-play;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 14px;
		height: 25px;
		line-height: 25px;
		width: 25px;
		text-indent: 0;
		text-indent: center;
		@include trans;
	}

	&:hover,
	&.active,
	&:focus {
		&:before {
			color: c(grey, 230);
		}
	}
}
.bx-start {
	&:before {
		content: $fa-var-play;
	}
}
.bx-stop {
	&:before {
		content: $fa-var-pause;
	}
}

.bx-controls.bx-has-controls-auto.bx-has-pager {
	.bx-pager {
		text-align: left;
		width: 80%;
	}
	.bx-controls-auto {
		right: 0;
		width: 35px;
	}
}

.bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
	span {
		color: #fff;
		font-family: Arial;
		display: block;
		font-size: .85em;
		padding: 10px;
	}
}


/*
	Custom carousel styles
 */
.carousel-container {
	white-space: nowrap;

	&-wrap {
		margin: 20px auto;
		position: relative;
	}

	.bx-wrapper & {
		white-space: normal;
	}
}

.carousel-slide {
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	position: relative;

	&-caption {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 35%;
		padding: 10px 20px;
		background: rgba(c(black), 0.5);
		color: c(white);
	}
}



.bx-loading-el-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(c(main1), 0.75);
}
.bx-loading-el,
.bx-loading-el::before,
.bx-loading-el::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 3px solid rgba(c(white), 0.4);
	border-left-color: rgba(c(white), 0.9);
	border-radius: 999px;
}
.bx-loading-el {
	margin: -25px 0 0 -25px;
	height: 50px;
	width: 50px;
	animation: animation-rotate 1000ms linear infinite;
}
	.bx-loading-el:before {
		content: ' ';
		margin: -20px 0 0 -20px;
		height: 40px;
		width: 40px;
		animation: animation-rotate 1500ms linear infinite;
	}
	.bx-loading-el:after {
		content: ' ';
		margin: -30px 0 0 -30px;
		height: 60px;
		width: 60px;
		animation: animation-rotate 2000ms linear infinite;
	}